@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Los estilos se aplican a todo el documento */
body {
    background-image: linear-gradient(135deg, rgba(0, 141, 12, 0.699), rgba(0, 41, 12, 0.541));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: 32px;
}

header {
    margin: 42px auto ;
    max-width: 800px;
}

header h1 {
    text-align: center;
    font-weight: 700;
    line-height: 15px;
}

.box{
    max-width: 800px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: #FFFFFF;
    margin: auto;
    margin-top: 24px;
    padding: 0 24px 0 20px;
    background-image: linear-gradient(135deg, rgba(0,0,0,0.551),rgba(0,31,42,0.7));

}

.box h2 {
    text-align: center;
    font-weight: 700;
}

.box img {
    border-radius: 50%;
    width: 150px;
}


.profile {
    text-align: center;
}

.social-icons{
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 32px;
    ;
}

footer {
    margin: 42px auto ;
    max-width: 800px;
    font-size: 10pt;
    text-align: center;
}