/* Los estilos se aplican a todo el documento */
body {
    background-image: linear-gradient(95deg, rgba(0, 2, 141, 0.699), rgba(58, 58, 58, 0.541));
    color: aliceblue;
}

.social-icon{
    width: 32px;
}